@model exaInnovation.Models.Metas
<!--Modal Body Start-->  
  
    <div class="modal-content">  
  
        <!--Modal Header Start-->  
        <div class="modal-header">  
            <h4 class="modal-title">Esta Seguro?</h4>  
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>  
        </div>  
        <!--Modal Header End-->  
  
  
        <form asp-action="Edit" 
                    asp-controller="Metas" 
                    method="post" enctype="multipart/form-data">  
               <input type="hidden" asp-for="Id" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="modal-body form-horizontal">                     
                    <div class="form-group row">
                        <div class="col-2">
                            Que Desea Eliminar el Elemento : <label asp-for="Nombre" class="col-form-label"></label>
                        </div>                       
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>                                                          
                </div>  
                <!--Modal Footer Start-->  
               <div class="form-group row">
                    <div class="col-5 offset-2">
                        <partial name="_DeleteAndBackToListButton" />
                    </div>
                </div>
                <!--Modal Footer End-->  
           </form>  
  
    </div>