@*@model int 
*@
<div class="col-3">
    <p>
        <a data-url="Tareas/Create"
            class="btn btn-primary popup" 
            data-toggle="modal"
            id="create"

            data-target="#modal-create-meta">
            <i class="fas fa-plus"></i> &nbsp;  Agregar Tarea
        </a>
    </p>
</div>
<div class="col-3">
    <p>
        <a data-url="Tareas/Edit"
            class="btn btn-primary popup" 
            data-toggle="modal"
            data-target="#modal-create-meta"
            id="edit">
            <i class="fas fa-plus"></i> &nbsp; Completar tarea
          </a>
    </p>
</div>
<div class="col-3">
    <p>
        <a data-url="Tareas/Delete"
            class="btn btn-primary popup" 
            data-toggle="modal"
            data-target="#modal-create-meta" 
            id="delete">
            <i class="fas fa-plus"></i> &nbsp; Eliminar
          </a>
    </p>
</div>      


