@model exaInnovation.Models.ViewModels.TareasViewModel
<!--Modal Body Start-->  
  
 
  
        <!--Modal Header Start-->  
        
        <!--Modal Header End-->  
<div class="border backgroundWhite">
    @*<div class="col-4 text-left">
    <p>
        <a data-url="Tareas/Create"
            class="btn btn-primary popup" 
            data-toggle="modal"
            data-target="#modal-create-meta"
            id="tarea-create">
            <i class="fas fa-plus"></i> &nbsp;  Agregar Tarea
        </a>
    </p>
    </div>*@
@*    <div class="row">
        <div class="col-6">
            <input type="submit" class="btn btn-info form-control" value="Create" />
        </div>
        <div class="col-6">
            <a asp-for="_metas.Id" asp-action="Create" asp-controller="Tareas"  
                data-toggle="modal"
                data-target="#modal-create-meta"
            class="btn btn-success form-control">Back to List</a>
        </div>
    </div>*@
    <div asp-validation-summary="ModelOnly" class="text-danger">
    </div>
    <input type="hidden" asp-for="_metas.Id" />

    @if (Model._metas.Tareas.Count() > 0)
    {
        <table id="DataTable" class="table table-striped border">
            <tr class="table-secondary">
                <th><input type="checkbox" id="checkAll"/></th>
                <th>
                    Prioridad
                </th>
                <th>
                    Tarea
                </th>
                <th>
                    FechaCreacion
                </th>
                <th>
                    Estado
                </th>                                    
                <th></th>
                <th></th>
            </tr>
          
        </table>
    }
    else
    {
          <p>No category exists...</p>
    }
</div>
<div aria-hidden="true" aria-labelledby="modal-create-tarea-label" 
     role="dialog" tabindex="-1" 
     id="modal-create-tarea" class="modal fade">  
    <div class="modal-dialog"> 
        Modal 2
    </div>  
</div>
@section Scripts{
    <script>
        
    </script>
     
}